<div class="usersview">
	<p class="listenerpage">Listener page</p>
	<p class="byline">See what everyone else is listening to</p>

	<ul class="userscontainer">
	  <% @users.each do |user| %>
	   	<div class="eachuser">
	    	<p><%= link_to user.username.capitalize, user_path(user), class: "linkclass" %></li>
		</div>
	  <% end %>
	</ul>

</div>
