<div class="usersview">
	<h3 class="heading">See your friend's top pods</h3>

	<ul class="userscontainer">
	  <% @users.each do |user| %>
	    <li><%= link_to user.username.capitalize, user_path(user), class: "linkclass" %></li>
	  <% end %>
	</ul>

</div>
