<div class="userview">
	<div class="userheader"><%= @user.username.capitalize %> has added <%= @totalpods %> podcasts:</div>

	<div class="userpodcasts">
		<% @podcasts.each do |podcast| %>
			<div class="eachuserpodcast">
			<%= link_to "#{podcast[:title]}", podcast %>
			</div>
		<% end %>
	</div>
	<br>
	<%= link_to 'Back to users list', users_path %>
</div>
