<div class="userview">
	<div class="userheader"><%= @user.username.capitalize %> has added <%= @totalpods %> podcasts:</div>

	<div class="userspodcastcontainer">
		<% @podcasts.each do |podcast| %>
			<div class="eachuserpodcast">
			<%= link_to "#{podcast[:title]}", podcast, class: "eachpodlink" %>
			</div>
		<% end %>
	<%= link_to 'Back to users list', users_path, class: "backtouserlist" %>
	</div>
</div>
