<div class="userview">
	<div class="userheader"><%= @user.username.capitalize %>'s Profile</div>

	<div class="userpodcasts">
		<% @podcasts.each do |podcast| %>
			<div class="eachuserpodcast">
			<%= podcast[:title] %>
			</div>
		<% end %>
	</div>
	<%= link_to 'all users', users_path %>
</div>
