// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-- create account view --*/

.createaccountview {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  // justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #F0F0F8;
  background-color:#181839;
  font-size: 60px;
}

.createheader {
  font-size: 40px;
  font-weight: 800;
  font-family: 'Alfa Slab One', cursive;
}

.signinlink {
  font-size: 15px;
  color: #F0F0F8;
  margin-top: 5px;
}

.signinlink:hover {
  color: lightblue;
}

/*--- users index view --*/

.usersview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.userscontainer {
  display: flex;
  flex-direction: column;
  justify-conter: center;
  align-items: center;
  margin-top: 20px;
}

.userscontainer .eachuser {
  font-size: 25px;
}

.usersview .listenerpage {
  font-size: 30px;
  margin-bottom: 5px;
}

.usersview .heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.userpodcasts {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.eachuserpodcast {
  margin-top: 10px;
}

.linkclass, .linkclass:visited {
  // font-size: 50px;
  color: black;
  text-decoration: none;
}

.linkclass:hover {
  color: lightblue;
}


/*-- user show view --*/

.userheader {
  margin: 15px 0 15px 0;
  font-size: 25px;
}

.userspodcastcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eachpodlink {
  color: black;
  font-size: 20px;
}

.eachpodlink:hover, .backtouserlist:hover {
  color: blue;
}

.backtouserlist {
  margin-top: 30px;
  text-decoration: none;
  color: black;
}
